.ui-button {
  font-family: Inter;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  padding: 14px;
  background-color: #3456f3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
