@use "../variables.scss";
.App {
  background-color: variables.$white;
  font-family: Inter;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;

  &__container {
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
