.saved-movies-page {
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 10px;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 170px;
    gap: 40px;
    align-items: center;
    padding-bottom: 83px;
    border-bottom: 1px solid rgb(170 170 170 / 0.2);
    margin-bottom: 80px;

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__films {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 30px;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 36px;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }
}
