.ui-switch {
  &-checkbox {
    display: none;
  }

  &-label {
    position: relative;
    display: block;
    background-color: #ebebeb;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
      background-color: #bebebe;
    }
  }

  &-checkbox:checked + &-label {
    background-color: #2be080;
    &:hover {
      background-color: #76f0af;
    }
  }

  // &__checkbox:checked + &__label:hover {
  //   background-color: #76f0af;
  // }

  &-checkbox:not(:checked) + &-label::after {
    position: relative;
    transition: all 0.4s;
    content: " ";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
    display: block;
    top: 6px;
    // left: 6px;
    transform: translateX(6px);
  }

  &-checkbox:checked + &-label::after {
    position: relative;
    transition: all 0.4s;
    content: " ";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: white;
    display: block;
    top: 6px;
    transform: translateX(22px);
    // right: 6px;
  }
}
